@model IEnumerable<DiplomaDataModel.OptionPicker.Choice>

@{
    ViewBag.Title = "Index";
}

    
<body>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <h2>List of Student Choices</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Year Term
            </th>
            <th>
                Student Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                First Choice
            </th>
            <th>
                Second Choice
            </th>
            <th>
                Third Choice
            </th>
            <th>
                Fourth Choice
            </th>
            <th>
                Date
            </th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @switch (item.YearTerm.Term)
                {
                    case 10:
                        @("Winter");
                        break;
                    case 20:
                        @("Spring/Summer");
                        break;
                    case 30:
                        @("Fall");
                        break;
                }
                @(item.YearTerm.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourthOption.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectionDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ChoiceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ChoiceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ChoiceId })
            </td>
        </tr>
    }

</table>
}
@if (ViewContext.HttpContext.User.IsInRole("Student"))
{
    <h2>You have successfully picked your options!</h2>
}
</body>